@charset "UTF-8";

body{
    background-color: slategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

h1{
    color: aquamarine;
    background-color: azure;
}

h2{
    color: burlywood;
}

p{
    text-align: justify;
}